<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/']" routerLinkActive="router-link-active"> Home </a></li>
    <li class="breadcrumb-item active" aria-current="page">Application List</li>
  </ol>
</nav>

<ul class="list-group">
  <li class="list-group-item"><a [routerLink]="['/form']" routerLinkActive="router-link-active" >XSpace</a></li>
</ul>
