<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="#">
          <img src="https://www.halliburton.com/content/dam/halliburton/public/pubsdata/images/halliburton-logo.png" width="300px" class="img-fluid" alt="Responsive image">
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Search Application</a>
  <form class="form-inline" [routerLink]="['/applicationlist']" routerLinkActive="router-link-active" >
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-danger" type="submit">Search</button>
  </form>
</nav>
<div class="card">
  <div class="card-body">
    <router-outlet></router-outlet> 
  </div>
</div>

